<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>


<h2>subsection</h2>
Lorem ipsum...

<H2>subsection</H2>
Lorem ipsum...

<h3>subsubsection <%= 2+4 %></h3>
Lorem ipsum...