<% provide(:title, 'Home') %>
<h1>Sample App</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<h2>subsection</h2>
<p>Lorem ipsum... some Links: <a href="http://www.google.de">Google</a> or <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>. Lorem ipsum...</p>

<h3>subsubsection <%= 2+4 %></h3>
Lorem ipsum...
