<% content_for :sidebar do %>
  <%= render 'shared/sidebar', sections: 
		[ 'shared/user_info', 
		  'shared/stats',
		  'shared/micropost_form' ]  %>
<% end %>
	
<h3>Micropost Feed</h3>
<%= render 'shared/feed' %>
