<div class="row">
	<%= render 'shared/sidebar', sections: 
		[ 'shared/user_info', 
		  'shared/stats',
		  'shared/micropost_form' ]  %>
	<div class="span8">
		<h3>Micropost Feed</h3>
		<%= render 'shared/feed' %>
	</div>
</div>