<% provide(:title, 'Edit profile') %>
<% content_for :sidebar do %>
  <section>
    <h1>        
      <%= gravatar_for @user %>
      <%= link_to 'Change picture', 'http://www.gravatar.com/emails', 
          :target => '_blank'  %>
    </h1>
  </section>
<% end %>

<h1>Update your profile</h1>
<%= render 'form', submit: "Update" %>
