<%= form_for @micropost do |f| %>
  <%= render 'shared/error_messages', target: f.object %>
  <div class="field">
  	<%= f.text_area :content, 
  			placeholder: "Compose new micropost..." , 
  			rows: 5, 
  			:maxlength => Micropost::MAXIMUM_MICROPOST_LENGTH %>    
    <span id="microposts_char-counter" ></span>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
