<div class="stats">
  <% @user ||= current_user %> 
  <div id="following">
    <%= render 'relationships/following' %>
  </div>
  <div id="followers">
    <%= render 'relationships/followers' %>
  </div>
  <div id="todays_events">
    <%= render 'events/todays_events' %>
  </div> 
</div>