<div class="form-actions">	
	<%= link_to 'New Event', new_user_event_path(@user), class: 'btn btn-primary' %>
	<a class="btn" onclick="window.print(); return false;" href="#">
		<i class="icon-print"></i> Print
	</a>
</div>
