#event-header {
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.event_navi_controls {
	height: 70px;
	margin-bottom: 15px;

	.pager {
		margin-bottom: 5px;
	}

	.nav { 
		margin-bottom: 0;
	}
}

#no-events {	
	margin-top: 15px;
	margin-bottom: 15px;
}

.calendar {	
	table {
		width: 100%;
		table-layout: fixed;
	}

	.Sat,
	.Sun {
		background: #efe;
	}

	.event { }
	.event-col-1 { background: #6d6198; }
	.event-col-2 { background: #db8083; }
	.event-col-3 { background: #6db369; }
	.event-col-4 { background: #ddcc82; }
	.event-col-5 { background: #9d91c9; }
	.event-col-6 { background: #eca1a3; }
	.event-col-7 { background: #96d793; }
	.event-col-8 { background: #ede0a2; }

	.calendar_caption {
		font-size: 20px;
		line-height: 2em;
	}	

	tr {
		&.number {
			background: $grayLight;
			color: $grayMediumLight;
			font-size: 10px;
			height: 15px;
			text-align: right;
			vertical-align: middle;
		}

		&.day {
			color: #665;
			font-size: 9px;
			height: 90px;
			vertical-align: top;

			.not-in-month {
				background: #eee;
			}

			.today {
				background: #f6d3d3;
			}

			.date {
			}

			.title {
			}
		}	
	}

	th {
		background: $grayMediumLight;
		color: black;
		font-size: 11px;
		height: 15px;				
	}
}

#week_calendar {

	a {
 		color: black;
		display: block;
		height: auto;
		text-decoration: none;

		em {
			display: block;
			font-size: 150%;
			line-height: 150%;
			font-style: normal;			
			text-align:center;			
		}

		&:hover em {
  			color:#800;
  		}
	}


	colgroup {
		border-left-color: #DDDDDD;
    	border-left-style: solid;
    	border-left-width: 1px;
	}
}
