body * { 
	visibility: hidden; 
}

.printable * { 
	visibility: visible;
}

.noprint {
  display: none;
}

.printable {
	position: absolute;
	top: 10pt;
	right: 10pt;
	left: 10pt;
}

td {
	border: 1px solid #E8E8E8;
}